<div class="department">
  <div class="department_title">
    <h1>Danh sách phòng ban</h1>
  </div>

  <div class="department_operation">
    <div class="department_search">
      <input 
        class="search_inp" 
        type="text" 
        placeholder="Tìm kiếm phòng ban theo tên..." 
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearchTermChange()"
      />
      <button class="department_btns" (click)="confirmSearchTerm()">Tìm kiếm</button>
      
    </div>
    <div class="department_filter">
      <div class="department_filter_status">
        <p>Lọc theo trạng thái:</p>
        <select [(ngModel)]="selectedStatus" (change)="onStatusChange()" class="form-control">
          <option [ngValue]="null">Tất cả trạng thái</option>
          <option *ngFor="let status of workStatuses" [ngValue]="status.value">{{ status.label }}</option>
        </select>
      </div>
      <button class="department_btns" (click)="confirmStatusChange()">Lọc</button>
    </div>
    <button class="department_btns" (click)="openModal(content)">Thêm phòng ban</button>
  </div>

    
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ isEditing ? 'Cập nhật phòng ban' : 'Thêm phòng ban' }}</h5>
      <button type="button" class="btn-close btn_close_ctm" aria-label="Close" (click)="closeModal(modal)"></button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Mã phòng ban</label>
        <input class="form-control" [(ngModel)]="newDepartment.id" placeholder="Mã phòng ban" disabled />
      </div>
      <div class="form-group">
        <label>Tên phòng ban</label>
        <input class="form-control" [(ngModel)]="newDepartment.name" />
      </div>
      <div class="form-group">
        <label>Mô tả</label>
        <input class="form-control" [(ngModel)]="newDepartment.description" />
      </div>
      <div class="form-group">
        <label>Trạng Thái</label>
        <select class="form-control" [(ngModel)]="newDepartment.workStatus">
          <option *ngFor="let status of workStatuses" [ngValue]="status">{{ status.label }}</option>
        </select>
      </div>
      <div *ngIf="validationMessage" class="alert alert-danger">{{ validationMessage }}</div>
    </div>
    <div class="modal-footer modal_footer_ctm">
      <button type="button" class="btn btn-secondary" (click)="closeModal(modal)">Đóng</button>
      <button type="button" class="btn modal-footer-cancel" (click)="addOrUpdateDepartment(modal)">{{ isEditing ? 'Cập nhật' : 'Thêm' }}</button>
    </div>
  </ng-template>

  <ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Xác nhận xóa</h5>
      <button type="button" class="btn-close btn_close_ctm" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      Bạn có chắc chắn muốn xóa phòng ban này không?
    </div>
    <div class="modal-footer modal_footer_ctm">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Hủy</button>
      <button type="button" class="btn modal-footer-cancel" (click)="confirmDelete(modal)">Xóa</button>
    </div>
  </ng-template>
    
  <div class="department_table">
    <ul class="department_info">
      <li (click)="setSortField('id')">Mã phòng ban <i class="fa-solid" [ngClass]="getSortIcon('id')"></i></li>
      <li (click)="setSortField('name')">Tên phòng ban <i class="fa-solid" [ngClass]="getSortIcon('name')"></i></li>
      <li (click)="setSortField('description')">Mô tả <i class="fa-solid" [ngClass]="getSortIcon('description')"></i></li>
      <li (click)="setSortField('workStatus.name')">Trạng thái <i class="fa-solid" [ngClass]="getSortIcon('workStatus.name')"></i></li>
      <li>Hành Động</li>
    </ul>
    <ul class="department_lists" *ngFor="let dept of departments">
      <li class="department_list">{{ dept.id }}</li>
      <li class="department_list">{{ dept.name }}</li>
      <li class="department_list">{{ dept.description }}</li>
      <li class="department_list" [ngClass]="{'status-active': dept.workStatus.id === 1, 'status-inactive': dept.workStatus.id === 2}">
        {{ dept.workStatus.name }}
      </li>
      <li class="department_list">
        <div class="dropend">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-gears"></i>
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item department_btn" (click)="editDepartment(dept, content)">Sửa</button></li>
            <li><button class="dropdown-item department_btn" (click)="openDeleteModal(dept.id, deleteModal)">Xóa</button></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>