<div class="task">
  <!-- Tiêu đề -->
  <div class="task_title">
    <h1>Danh sách nhiệm vụ</h1>
  </div>

  <!-- Bộ lọc -->
  <div class="task_filters">
    <button class="task_add_btn" (click)="openModal(content)">Thêm nhiệm vụ</button>

    <div class="task_filterss">
      <button class="filter_btn" (click)="confirmFilter()">Lọc</button>
      <div class="filter_status">
        <p>Lọc theo trạng thái:</p>
        <select class="filter_select" [(ngModel)]="selectedStatus" (ngModelChange)="onFilterChange()">
          <option [ngValue]="null">Tất cả trạng thái</option>
          <option *ngFor="let status of statuses" [ngValue]="status.value">{{ status.label }}</option>
        </select>
      </div>
      <div class="filter_department">
        <p>Lọc theo phòng ban:</p>
        <select class="filter_select" [(ngModel)]="selectedDepartment" (change)="onFilterChange()">
          <option value="">Tất cả phòng ban</option>
          <option *ngFor="let department of departments" [ngValue]="department.id">{{ department.name }}</option>
        </select>
      </div>
      <div class="filter_priority">
        <p>Lọc theo độ ưu tiên:</p>
        <select class="filter_select" [(ngModel)]="selectedPriority" (ngModelChange)="onFilterChange()">
          <option [ngValue]="null">Tất cả độ ưu tiên</option>
          <option *ngFor="let priority of [1, 2, 3, 4, 5]" [ngValue]="priority">{{ priority }}</option>
        </select>
      </div>
    </div>
    
    <!-- Tìm kiếm -->
    <div class="task_search">
      <input 
        class="search_inp" 
        type="text" 
        placeholder="Tìm kiếm nhiệm vụ theo tên..." 
        [(ngModel)]="searchTerm"
        (input)="onSearchTermChange()"
      />
      <button class="search_btn" (click)="confirmSearch()">Tìm kiếm</button>
    </div>
  </div>

  <!-- Modal thêm hoặc cập nhật nhiệm vụ -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{ isEditing ? 'Cập nhật nhiệm vụ' : 'Thêm nhiệm vụ' }}</h5>
      <button type="button" class="btn-close btn_close_ctm" aria-label="Close" (click)="closeModal(modal)"></button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Mã nhiệm vụ</label>
        <input class="form-control" [(ngModel)]="newTask.id" placeholder="Mã nhiệm vụ" disabled />
      </div>
      <div class="form-group">
        <label>Tên nhiệm vụ</label>
        <input class="form-control" [(ngModel)]="newTask.name" />
      </div>
      <div class="form-group">
        <label>Mô tả</label>
        <input class="form-control" [(ngModel)]="newTask.description" />
      </div>
      <div class="form-group">
        <label>Độ ưu tiên</label>
        <input class="form-control" type="number" min="1" max="5" [(ngModel)]="newTask.priority" />
      </div>
      <div class="form-group">
        <label>Phòng ban nhận nhiệm vụ</label>
        <select class="form-control" [(ngModel)]="newTask.department" (ngModelChange)="loadEmployeesByDepartment($event)">
          <option *ngFor="let department of departments" [ngValue]="department.id">{{ department.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Người xử lý nhiệm vụ</label>
        <select class="form-control" [(ngModel)]="newTask.assignee">
          <option *ngFor="let employee of employees" [ngValue]="employee.name">{{ employee.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Ngày hết hạn</label>
        <input class="form-control" type="date" [(ngModel)]="newTask.dueDate" />
      </div>
      <div class="form-group">
        <label>Trạng Thái</label>
        <select class="form-control" [(ngModel)]="newTask.status">
          <option *ngFor="let status of statuses" [ngValue]="status">{{ status.label }}</option>
        </select>
      </div>
      <div *ngIf="validationMessage" class="alert alert-danger">{{ validationMessage }}</div>
    </div>
    <div class="modal-footer modal_footer_ctm">
      <button type="button" class="btn btn-secondary" (click)="closeModal(modal)">Đóng</button>
      <button type="button" class="btn modal-footer-cancel" (click)="addOrUpdateTask(modal)">{{ isEditing ? 'Cập nhật' : 'Thêm' }}</button>
    </div>
  </ng-template>

  <!-- Modal xác nhận xóa nhiệm vụ -->
  <ng-template #deleteModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Xác nhận xóa</h5>
      <button type="button" class="btn-close btn_close_ctm" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      Bạn có chắc chắn muốn xóa nhiệm vụ này không?
    </div>
    <div class="modal-footer modal_footer_ctm">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Hủy</button>
      <button type="button" class="btn modal-footer-cancel" (click)="confirmDelete(modal)">Xóa</button>
    </div>
  </ng-template>
    
  <!-- Danh sách nhiệm vụ -->
  <div class="task_table">
    <ul class="task_info">
      <li (click)="setSortField('id')">Mã nhiệm vụ <i class="fa-solid" [ngClass]="getSortIcon('id')"></i></li>
      <li (click)="setSortField('name')">Tên nhiệm vụ <i class="fa-solid" [ngClass]="getSortIcon('name')"></i></li>
      <li (click)="setSortField('description')">Mô tả <i class="fa-solid" [ngClass]="getSortIcon('description')"></i></li>
      <li (click)="setSortField('priority')">Độ ưu tiên <i class="fa-solid" [ngClass]="getSortIcon('priority')"></i></li>
      <li (click)="setSortField('department')">Phòng ban <i class="fa-solid" [ngClass]="getSortIcon('department')"></i></li>
      <li (click)="setSortField('assignee')">Người xử lý <i class="fa-solid" [ngClass]="getSortIcon('assignee')"></i></li>
      <li (click)="setSortField('dueDate')">Ngày hết hạn <i class="fa-solid" [ngClass]="getSortIcon('dueDate')"></i></li>
      <li (click)="setSortField('status.name')">Trạng thái <i class="fa-solid" [ngClass]="getSortIcon('status.name')"></i></li>
      <li>Hành Động</li>
    </ul>
    <ul class="task_lists" *ngFor="let task of tasks" [ngClass]="{'past-due': isPastDueDate(task.dueDate)}">
      <li class="task_list">#TK0{{ task.id }}</li>
      <li class="task_list">{{ task.name }}</li>
      <li class="task_list">{{ task.description }}</li>
      <li class="task_list">{{ task.priority }}</li>
      <li class="task_list">{{ getDepartmentName(task.department) }}</li>
      <li class="task_list">{{ task.assignee }}</li>
      <li class="task_list">{{ task.dueDate | date:'dd/MM/yyyy' }}</li>
      <li class="task_list" [ngClass]="{
        'status-new': task.status.id === 1, 
        'status-in-progress': task.status.id === 2, 
        'status-completed': task.status.id === 3, 
        'status-checked': task.status.id === 4, 
        'status-feedback': task.status.id === 5, 
        'status-closed': task.status.id === 6
      }">
        {{ task.status.name }}
      </li>
      <li class="task_list">
        <div class="dropend">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-gears"></i>
          </button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item task_btn" (click)="editTask(task, content)">Sửa</button></li>
            <li><button class="dropdown-item task_btn" (click)="openDeleteModal(task.id, deleteModal)">Xóa</button></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <!-- Phân trang -->
  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>