.employee {
    display: flex;
    margin-top: 56px;
    margin-left: 12%;
    flex-direction: column;
    align-items: center;
}

.employee_title{
    padding: 20px 0;
}

.employee_title h1{
    font-weight: bold;
    margin-bottom: 0;
}

.employee_search{
    display: flex;
    gap: 20px;
}

.search_inp{
    width: 210px;
    padding: 8px; 
    border: 0.1px solid #ccc; 
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
    margin-right: 0;
}

.search_inp:focus{
    border-color: #ff5733;
    box-shadow: 0 0 5px rgba(255, 87, 51, 0.5);
}

.search_inp::placeholder{
    color: #aaa;
    font-style: italic;
}

.employee_btns{
    background-color: #8b0000;
    color: #fff;
    opacity: 0.8;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}

.employee_btns:hover {
    opacity: 0.9;
}

.filter_emp {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-end;
}

.employee_filters {
    align-items: flex-end;
    margin-bottom: 20px;
    display: flex;
    width: 85%;
    justify-content: space-between;

}

.employee_filters select {
    font-weight: 500;
    font-style: italic;
}

.employee_filters select:focus {
    border-color: #ff5733;
    box-shadow: 0 0 5px rgba(255, 87, 51, 0.5);
}

.filter_department,
.filter_status{
    width: 180px;
}

.filter_department p,
.filter_status p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    color: #8B0000;
}

.employee_table {
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
    opacity: 0; 
    transform: scale(0); 
    animation: scaleUp .2s ease-out forwards;
}

.employee_table {
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 20px;
    opacity: 0; 
    transform: scale(0); 
    animation: scaleUp .2s ease-out forwards;
}

@keyframes scaleUp {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.employee_info {
    display: flex;
    text-align: center;
    background-color: #8b0000;
    color: #fff;
    font-weight: bold;
    padding: 12px 6px;
    border-radius: 12px;
    font-size: 16px;
}

.employee_info li {
    list-style: none;
    width: calc(100%/10);
    user-select: none;
}

.employee_info li:hover{
    cursor: pointer;
    color: #F4D793;
}

.employee_info li:last-child{
    cursor: default;
    color: #fff;
}

.employee_lists {
    display: flex;
    text-align: center;
    padding: 6px;
    margin: 8px 0;
    background-color: rgba(139, 0, 0, 0.05);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.employee_lists:hover {
    background-color: rgba(139, 0, 0, 0.15);
}

.employee_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/10);
    font-size: 14px;
    color: #333;
    list-style: none;
}

.employee_list:first-child {
    font-weight: bold;
    color: #8b0000;
}

.employee_list .btn{
    width: 60px;
    height: 35px;
}

.employee_list .dropdown-menu {
    border: none;
    padding: 0;
    min-width: 50px;
    text-align: center;
    background-color: transparent;
    inset: -13px auto auto 4px !important;
}

.employee_btn {
    text-align: center;
    background-color: #727a83;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.3s ease;
}

.employee_btn:hover {
    background-color: #8B0000;
}

.employee_btn:first-child{
    margin-bottom: 6px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-control:focus {
    border-color: #4da6ff;
    box-shadow: 0 0 5px rgba(77, 166, 255, 0.5); 
}

.modal-footer-cancel{
    color: #fff;
    background-color: #8b0000;
}

.modal-footer-cancel:hover{
    background-color: #a52a2a;
}

.modal-footer-cancel:focus{
    color: #fff;
}

.modal_footer_ctm{
    padding: 4px;
}

.modal_body_lable p{
    margin-bottom: 0;
}

.modal_body_ctm{
    padding: 10px;
}

.btn_close_ctm:focus, .btn_close_ctm:active{
    box-shadow: none;
}

.status-working {
    background-color: green;
    border-radius: 16px;
    color: white;
}

.status-left {
    background-color: red;
    border-radius: 16px;
    color: white;
}

.filter_emp .form-control{
    height: 40px;
}